@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
    background-image: url('../img/seawater.jpg ');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
}

h1{
    text-align: center;

}

section {
    max-width: 425px;
    margin: 35px auto;
    border: 2px solid #ccc;
    background: #999;
    border-radius: 7px;
    padding: 28px 0;
}

.task-input {
    outline: none;
    height: 52px;
    padding: 0 25px;
    position: relative;
    margin-bottom: 50px;
}

.task-input input {
    height: 52px;
    width: 350px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 0 13px 0 13px;
    position: relative;
    margin-bottom: 20px;
}

.task-input input::placeholder {
    color: #bfbfbf;
}

.task-input .date{
    width: 150px;
    height: 50%;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.task-input .task-btn {
    outline: none;
    width: 70px;
    height: 100%;
    background: #3c87ff;
    color: #fff;
    cursor: pointer;
    font-size: 8px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    padding: -3px 13px;
    
}

.controls,li {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls {
    margin: 20px auto;
    padding: 18px 25px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.filters span {
    cursor: pointer;
    margin: 0 8px;
    font-size: 17px;
}

.filters span:first-child {
    margin-left: 0;
}

.filters span.active {
    color: #3c87ff;
}

.controls .clear-btn {
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    padding: 7px 13px;
    background: #3c87ff;
}

.task-box {
    max-width: 405px;
    margin: auto;
}

.task-box .task {
    list-style: none;
    font-size: 17px;
    margin-bottom: 2px;
    padding: 14px;
    border: 1px #fff solid;
    border-radius: 7px;
    background: #fff;
}

.task-box .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}

.task label {
    display: flex;

}

.task label p.checked {
    text-decoration: line-through;
}

.task label input {
    margin-top: 8px;
    margin-right: 12px;
}

.task .settings {
    cursor: pointer;
    position: relative;
}

.settings .task-menu {
    position: absolute;
    padding: 5px 0;
    right: -5px;
    bottom: -65px;
    z-index: 2;
    transform: scale(0);
    border-radius: 4px;
    background: #fff;
    transform-origin: top right;
    transition: transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}


.settings .task-menu.show {
    transform: scale(1);
    background: #999;
}

.task-menu li {
    height: 25px;
    font-size: 14px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
}

.task-menu li:last-child {
    margin-bottom: 0;
}

.task-menu li:hover {
    background: #f5f5f5;
}

.task-menu li i {
    padding-right: 8px;
}

/*Media Queries*/
/*code for mobile devices smaller that 480px*/
@media only screen and (max-width:480px){
    div{
      max-width: 100%;
      height: 100%;
      font-size: 9px;
    }
    controls{
        max-width: 100%;
        font-size: 9px;
    }
  }
  
  /*Medium devices(tablets, 768px)*/
  @media only screen and (max-width:768px){
    wrapper{
     max-width: 100%;
     height: 100%;
     font-size: 9px;
    }
    controls{
        max-width: 100%;
        font-size: 9px;
    }
  }
  
  /*Large devices(laptops,992px and up)*/
  @media only screen and (max-width:1024px){
    wrapper{
      max-width: 100%;
      height: 100%;
      font-size: 9px;
    }
  }
  
  @media only screen and (max-width:1200px){
    wrapper{
      max-width: 100%;
      height: 100%;
      font-size: 9px;
    } 
  }
  